<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>

</head>
<body>
<section>
    <span>用户名：<input type="text" id="username" name="username"/> <br/> </span>
    <span>用户密码：<input type="password" id="password" name="password"/> <br/> </span>
    <button onclick="login()">登录</button>
</section>

<script type="text/javascript" src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
<script>
    function login(){
        let username = document.getElementById("username");
        let password = document.getElementById("password");

        let username_and_password = {
            username:username.value,
            password:password.value
        }
        $.ajax({
            type:"Post",
            url:"/user/login",
            data:username_and_password,
            success:function (data) {
                console.log(data)
                console.log(data.code)
                console.log(data.msg)
                if (data.code == 200){
                    alert(data.msg)
                    // window.location.href = "/hello";
                    // console.log("hehe")
                }else if (data.code == 403){
                    alert(data.msg)
                } else {
                    alert("客户端出错")
                }
            }
        })
    }

</script>
</body>
</html>
